<!DOCTYPE html>
<html>
<head>
	<title>新規登録</title>
</head>
<body>
	<form action="http://localhost:4567/user_newSignup" method="post" accept-charset="utf-8">
		<div>
			ユーザ名
		</div>
		<input type="name" name="user_name">
		<div>
			パスワード
		</div>
		<input type="password" name="passwrod">
		<div>
			ユーザID
		</div>
		<input type="user_id" name="user_id">
		<input type="submit" value = "送信"><br>
	</form>
</body>
</html>